<div [@routerTransition]>
    <app-alert></app-alert>
    <h3>User Payments</h3>
    <form role="form" novalidate [formGroup]="form" (ngSubmit)="onUserPaymentsmSubmit()" class="form-horizontal" style="margin-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="form-group form-group-sm col-sm-4">
                    <div class="row">
                        <fieldset class="form-group">
                            <input formControlName="emailId" class="form-control" placeholder="Enter valid Email Id">
                        </fieldset>
                    </div>
                </div>
                <div class="form-group form-group-sm col-sm-4">
                    <div class="row">
                        <select formControlName="paymentStatus" class="form-control">
                            <option hidden value="">Select Payment Status</option>
                            <option value="pending">pending</option>
                            <option value="received">received</option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-group-sm col-sm-1 col-sm-offset-1"></div>
                <div class="form-group form-group-sm col-sm-2 col-sm-offset-2">
                    <div class="row">
                        <fieldset class="form-group">
                            <button type="submit" class="btn btn-md btn-success pull-left" [disabled]="form.invalid">Check Payments</button>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-12">
                <div class="card-header">Payments
                    <label  class="float-right">Total:&nbsp;<b>Rs.{{paymentOrderList.shopkeeperTotal
                        | number}}/-</b></label>
                </div>
                <table class="card-body table table-hover">
                    <thead>
                        <tr>
                            <th>Tracking Id</th>
                            <th>Shopkeeper Name</th>
                            <th>Total Payment</th>
                            <th>Payment Receivable</th>
                            <th>Payment Payable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of paymentOrderListshow | paginate: { itemsPerPage: 10, currentPage: p }, let i = index">
                            <td>{{x.trackingId}}</td>
                            <td>{{x.user_name}}</td>
                            <td>Rs.{{x.order_amount | number}}/-</td>
                            <td>Rs.{{x.Admin_amount | number}}/-</td>
                            <td>Rs.{{x.shopkeeper_amount | number}}/-</td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="paymentOrderListshow?.length == 0" style="text-align: center; color:#dc3545">
                    <p>No payments are available against this status!</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>